@import '../../styles/_variables';

.modal-selector {
  background: $color-text-inverse;
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: auto;
  max-width: 600px;
  padding: 1rem;
  width: 90%;

  h2 {
    margin-bottom: 0.5rem;
  }

  .sets {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1rem;

    img {
      border: 5px solid transparent;
      border-radius: $border-radius;
      cursor: pointer;
      height: 100px;
      object-fit: cover;
      width: 100px;

      &.active {
        border-color: $color-primary;
      }
    }
  }

  .levels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }

  .play-btn {
    margin-top: 1rem;

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background: $color-secondary;
    }
  }

  @media (max-width: 600px) {
    padding: 0.5rem;

    .sets img {
      height: 70px;
      width: 70px;
    }

    .play-btn {
      padding: 0.5rem 1rem;
    }
  }
}