@import './_variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $color-background;
  color: $color-text;
  font-family: 'Chewy', sans-serif;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}

button {
  background: $color-primary;
  border: 0;
  border-radius: $border-radius;
  color: $color-text-inverse;
  cursor: pointer;
  padding: 0.7rem 1rem;
  transition: background 0.3s;

  &:hover {
    background: $color-primary-light;
  }

  &.active {
    background: $color-secondary;
  }
}

a {
  color: $color-text;

  &:hover {
    color: $color-primary;
  }
}

footer {
  margin-top: auto;
  padding: 1rem;
}