$color-primary: #6a5acd;
$color-primary-light: #836fff;
$color-secondary: #ff6dd3;
$color-background: linear-gradient(135deg, #d0a9f5, #b39ddb);
$color-text: #333;
$color-text-inverse: #fff;
$border-radius: 8px;