@import '../../styles/_variables';

.puzzle-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: auto;

  @media (max-width: 768px) {
    align-items: center;
    flex-direction: column;
  }

  .info-panel {
    background: rgba(255, 255, 255, 0.9);
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    max-height: 500px;
    max-width: 200px;
    padding: 1rem;
    text-align: left;

    @media (max-width: 768px) {
      height: auto;
      margin-top: 1rem;
      max-width: 100%;
      width: 100%;

      section {
        display: flex;
        gap: 1rem;

        div:last-child {
          padding-top: 2rem;
        }
      }
    }

    button {
      display: block;
      margin: 1rem auto;
    }

    h3 {
      margin: 0.5rem 0;
    }

    .objective {
      border-radius: $border-radius;
      margin-bottom: 0.5rem;
      width: 100%;

      @media (max-width: 768px) {
        width: 150px;
      }
    }

    ul {
      margin: 0.5rem 0;
      padding-left: 1rem;
    }
  }

  .puzzle-board {
    border: 2px solid $color-text-inverse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    height: 90vmin;
    margin: auto;
    max-height: 500px;
    max-width: 500px;
    width: 90vmin;
  }

  .puzzle-piece {
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
}